
<!------- CREATE THE DIV AND ALERT USER ONLY IF ACTUALLY SUCCESS HAPPENS AND THE SUCCESS ARRAY GETS SOME VALUE IN IT
 USING REQ.FLASH() ------->
<!----- SUCCESS = NEW LISTING CREATED ----->


<!----- TO DISPLAY SUCCESS ALERT/MSG  -->
<% if(success && success.length) { %> 

<div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<!----- TO DISPLAY FAILURE/ ERROR ALERT/MSG  -->
<% if(error && error.length) { %>

<div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>