body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* <----- NAVBAR -----> */
.navbar{
    height: 5rem;
    background-color: white;
    justify-content: space-evenly;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* <----- FOOTER -----> */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* <----- CARDS -----> */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* <----- CARD EFFECT -----> */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* <----- NEW PAGE -----> */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* <----- EDIT PAGE -----> */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* <----- SHOW PAGE -----> */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* <----- MAP STYLING -----> */
#map {
    height: 400px;
    width: 91vh;
}

/* <----- FILTER SCROLLBAR + TAX TOGGLE SWITCH -----> */
#filter-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

#filters-container {
  overflow: hidden;
  flex: 1;
  position: relative;
}

#filters {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.filter {
  flex: 0 0 auto;
  text-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
}

.filter a {
  color: inherit;
  text-decoration: none;
}

.scroll-btn {
  background-color: #fff;
  border: 0.1rem solid #cccccc;
  border-radius: 50%;
  color: #a6a6a6;
  cursor: pointer;
  z-index: 10;
}

.scroll-btn.left-btn {
  margin-right: 1rem;
}

.scroll-btn.right-btn {
  margin-left: 1rem;
}

.tax-toggle {
  border: 0.1rem solid #a6a6a6;
  border-radius: 1rem;
  height: 3rem;
  padding: 1rem;
  margin-left: 1rem;
  display: flex;
  margin-top: 0.9rem;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.tax-info{
  display: none;
}

/* <----- SERVICES SECTION (SHOW.EJS) -----> */
.offers{
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
}

.offers i {
  font-size: 1.1rem;
}

.offers span {
  font-size: 1.1rem;
}

/* <----- RESPONSIVENESS USING MEDIA QUERIES -----> */
@media (max-width: 768px) {
  .tax-toggle {
    flex-basis: 100%;
    text-align: left;
    margin-top: 0 !important;
    margin-left: 0 !important;
    font-size: 0.8rem !important;
    width: auto !important;
    height: 2rem !important;
    border: none;
    justify-content: center;
  }

  .toggle-container {
    padding: 0.5rem 1rem;
    border: 0.1rem solid #a6a6a6;
    border-radius: 0.7rem;
  }
}

